*.py[co]
_trial_temp
/build
*.swp
cerbero.egg-info
/dist
MANIFEST.in
.DS_Store
.idea/
*~
/*.wsx
/*.wixobj
/*.msm
/osx-framework-*.pkg
/ios-framework-*.pkg
/gstreamer*.dmg
/gstreamer*.pkg
/base*.pkg
/gstreamer*.msi
/gstreamer*.zip
/gstreamer*.rpm
/gstreamer*.tar.bz2
/gstreamer*.tar.xz
/gstreamer*.tar.zst
