import os
from cerbero.config import Architecture

if target_arch == Architecture.X86:
    host = 'i686-w64-mingw32'
else:
    host = 'x86_64-w64-mingw32'

toolchain_prefix = os.path.join(prefix, '..', 'mingw', 'w32')

def cmd(command):
    return '%s-%s' % (host, command)

os.environ['CFLAGS'] = "-DWINVER=0x0501"
os.environ['CPPFLAGS'] = "-DMINGW32 -D__MINGW32__"
os.environ['LDFLAGS'] = "-L%s" % toolchain_prefix
os.environ['CXXFLAGS']=os.environ['CFLAGS']
os.environ['CC']= cmd('gcc')
os.environ['LD']= cmd('ld')
os.environ['CXX']= cmd('g++')
os.environ['CPP']= cmd('cpp')
os.environ['RANLIB']= cmd('ranlib')
os.environ['AR']= cmd('ar')
os.environ['AS']= cmd('as')
os.environ['NM']= cmd('nm')
os.environ['STRIP']= cmd('strip')
os.environ['WINDRES']= cmd('windres')
os.environ['PATH'] = '%s/bin:%s' % (toolchain_prefix, os.environ['PATH'])
